.actionButton {
  position: relative;
  background: var(--splash);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border: 2px solid #ffffff;
  outline: none;
}

.actionButton:hover {
  transform: translateY(-3px);
  transition: all 0.2s;
  background: var(--splash-alt);
}

.actionButton img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
