.button {
  background: var(--splash);
  border-radius: 20px;
  padding: 4px 10px;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.2s;
  border: 2px solid #ffffff;
  margin-top: 2px;
  outline: none;
}

.button:hover {
  transform: translateY(-3px);
  background: var(--splash-alt);
}

.button:disabled:hover {
  background: linear-gradient(
    #ffffff 0%,
    #d1bdbc 8%,
    #726e6f 40%,
    #726e6f 60%,
    #d1bdbc 92%,
    #ffffff 100%
  );
}
