.button {
  background: var(--bg-rev);
  border-radius: 20px;
  padding: 6px 30px;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.2s;
  border: 2px solid #ffffff;
  margin-top: 2px;
}

.button:hover {
  transform: translateY(-3px);
  background: var(--bg);
}

.button:disabled:hover {
}
