.card,
.cardCol {
  background: var(--bg);
  border-radius: 10px;
  padding: 12px 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.cardCol {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 12px;
  width: 100%;
}
