.card,
.cardCol {
  background: var(--radial);
  border-radius: 14px;
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 6px solid var(--cufflinks);
  filter: drop-shadow(0px 1px 0px #ffffff);
}

.cardCol {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 12px;
}
