.categoriesList {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 51px;
  gap: 30px;
  flex-wrap: wrap;
}

.categoriesList div {
  width: 240px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.categoriesList div:hover {
  transform: translateY(-3px);
}

.categoriesList p {
  background: linear-gradient(
      180deg,
      #3d6bff 0%,
      rgba(61, 107, 255, 0.63) 0.01%,
      #5ba7f3 69.27%
    ),
    linear-gradient(
      180deg,
      #3d6bff 0%,
      rgba(61, 107, 255, 0.63) 0.01%,
      #bacfe4 100%
    ),
    linear-gradient(
      180deg,
      rgba(213, 219, 238, 0.63) 0%,
      #c8d9ea 32.29%,
      #bed5e8 69.27%,
      rgba(205, 216, 234, 0.58) 100%,
      #000000
    );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-transform: uppercase;
  font-size: 30px;
}

.svg {
  width: 80px;
  height: 80px;
}
