.checkbox,
.active {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 30px;
  height: 30px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  transition: all 0.2s;
}

.checkbox {
  background: linear-gradient(
    #ffffff 0%,
    #4de04f 5%,
    #078f00 30%,
    #078f00 70%,
    #4de04f 95%,
    #ffffff 100%
  );
}

.checkbox input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  /* z-index: 10; */
}

.active input {
  position: absolute;
  appearance: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 10;
  border: 0;
}

.active {
  background: var(--splash);
}
