.dropdown {
  position: relative;
  width: 100%;
  min-height: 32px;
}

.dropdownHeader {
  background: #ffffff;
  border-radius: 12px;
  height: 100%;
  width: 100%;
  outline: none;
  padding: 0px 10px;
  margin-top: 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  border: none;
  border-right: 6px solid var(--cufflinks);
  border-left: 6px solid var(--cufflinks);
}

.dropdownHeader p {
  color: var(--bg-base);
}

.dropsvg {
  width: 20px;
  height: 20px;
}

.dropdownContent {
  z-index: 1;
  position: absolute;
  top: 30px;
  left: 0;
  width: 80px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  background: #fbe1ef;
  border-radius: 12px;
  padding: 4px;
}

.dropdownContent p {
  cursor: pointer;
  width: 100%;
  padding: 5px 5px;
  color: var(--bg-base);
}

.dropdownContent p:hover {
  cursor: pointer;
  background: var(--splash);
  color: #ffffff;
  border-radius: 16px;
}
