.titleContainer {
  display: flex;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 40px;
  padding: 8px 24px 4px;
  border: 2px solid var(--text);
  border-radius: 40px;
  background: var(--splash);
}

.svg {
  transform: scale(-1, 1);
}
