.todoItemContainer {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}

.taskName {
  display: flex;
  align-items: center;
  gap: 10px;
}

.taskName input {
  background: transparent;
  border: 1px solid #ffffff;
  font-size: 0.875rem;
  outline: none;
}

.actionButton {
  display: flex;
  gap: 12px;
}
