.todoItemContainer {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.taskName {
  display: flex;
  align-items: center;
  gap: 10px;
}

.taskName textarea {
  background: transparent;
  font-size: 0.875rem;
  outline: none;
  border: none;
}

.actionButton {
  display: flex;
  gap: 8px;
}
