.goalCategory {
  font-size: 1.25rem;
  font-weight: 700;
  padding: 6px 22px;
  background: var(--splash);
  border-radius: 30px;
  border-right: 4px solid var(--spice);
  border-left: 4px solid var(--spice);
}

.progressTitle {
  font-size: 1rem;
  font-weight: 700;
  margin-left: 6px;
}
