.goalCategory {
  font-size: 1.25rem;
  font-weight: 700;
  padding: 6px 22px;
  background: var(--bg);
  border: 2px solid var(--text);
  border-radius: 30px;
  margin-bottom: 30px;
}

.progressTitle {
  font-size: 1.25rem;
  font-weight: 700;
  margin-left: 6px;
}
