@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/poppins-v20-latin-regular.woff2");
}

@font-face {
  font-display: swap;
  font-family: "Kaushan";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/kaushan-script-v16-latin-regular.woff2");
}

:root {
  --bg: white;
  --bgSoft: #7c7c7c;
  --text: black;
  --textSoft: #e0e0e0;
  --halo-glow: #ffffff;
}

* {
  box-sizing: border-box;
}

html {
  background-color: var(--bg);
  color: var(--text);
  font-family: "Poppins";
  scrollbar-color: grey #393939;
}

body {
  margin: 0 auto;
  width: 100%;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

html.dark {
  --bg: black;
  --text: white;
}

.dark .nav-links a {
  color: var(--text);
}
