@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/poppins-v20-latin-regular.woff2");
}

@font-face {
  font-display: swap;
  font-family: "Kaushan";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/kaushan-script-v16-latin-regular.woff2");
}

:root {
  --bg: linear-gradient(#ff9500, #f63d00);
  --text: white;
  --gradient: linear-gradient(#ff9500, #f63d00);
  --halo-glow: #ffffff;
  color: var(--text);
  background: var(--bg);
  --brand: orangered;
}

:root.dark {
  --bg: black;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-family: "Poppins";
  scrollbar-color: grey #393939;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 100vh;
  width: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: var(--bg);
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
}

a {
  text-decoration: none;
}

html.dark {
  --bg: black;
  --text: white;
}

.dark .nav-links a {
  color: var(--text);
}
