@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/poppins-v20-latin-regular.woff2");
}

@font-face {
  font-display: swap;
  font-family: "Pathway Gothic";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/pathway-gothic-one-v15-latin-regular.woff2");
}

:root {
  --bg: linear-gradient(#ff9500, #f63d00, #f63d00);
  --bg-rev: linear-gradient(#f63d00, #f63d00, #ff9500);
  --bg-clear: lightblue;
  --text: #ffffff;
  --splash: linear-gradient(
    #ffffff 0%,
    orange 10%,
    orangered 30%,
    orangered 70%,
    orange 90%,
    #ffffff 100%
  );
  --gradient: linear-gradient(#ff9500, #f63d00);
  --halo-glow: rgba(255, 255, 255, 0.3);
  --shade: rgba(0, 0, 0, 0.6);
  --brand: orangered;
  --drop: drop-shadow(2px 10px 6px #404040);
  --dull: #818181;
  --header: #ff9500;
  --bg-base: #ff9500;
  --card: linear-gradient(orange 0%, orangered 30%, orangered 70%, orange 100%);
  color: var(--text);
  background: var(--bg);
}

:root.dark {
  --bg: linear-gradient(#000000, #601309, #601309);
  --bg-rev: linear-gradient(#601309, #601309, #000000);
  --bg-base: #601309;
  --header: #000000;
  --card: linear-gradient(#000000 0%, #601309 30%, #601309 70%, #000000 100%);
  --drop: drop-shadow(-4px 10px 8px #ababab);
  --splash: linear-gradient(
    #ffffff 0%,
    #bc0f35 10%,
    #601309 30%,
    #601309 70%,
    #bc0f35 90%,
    #ffffff 100%
  );
}

.base-container {
  height: 100%;
  min-height: 100vh;
  width: 100%;
  background-attachment: fixed;
  background-image: var(--bg);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Poppins";
}

html {
  scrollbar-color: grey #393939;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}
