---
import WingTitle from '../components/WingTitle.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = 'SIGNAL FOCUSED | APPLICATIONS';
---

<BaseLayout pageTitle={pageTitle}>
  <div class="main-container">
    <WingTitle>APPLICATIONS</WingTitle>
    <div class="card-container">
      <div class="card">
        <a href="/slideshow"><img src="images/slide-show-image.avif" /></a>
        <div class="card-content">
          <h3>Slide Show</h3>
          <p>Organize & enjoy your memories</p>
        </div>
      </div>
      <div class="card">
        <a href="/musicplayer"><img src="images/music-player-image.avif" /></a>
        <div class="card-content">
          <h3>Music Player</h3>
          <p>Connect with your creative side</p>
        </div>
      </div>
      <div class="card">
        <a href="/weather"><img src="/images/weather-app.avif" /></a>
        <div class="card-content">
          <h3>Weather Report</h3>
          <p>Plan and dress accordingly</p>
        </div>
      </div>
      <div class="card">
        <a href="/animation"><img src="images/css-animation-image.avif" /></a>
        <div class="card-content">
          <h3>CSS Animation</h3>
          <p>A place for storing those tricks</p>
        </div>
      </div>
      <div class="card">
        <a href="/puzzles"><img src="images/brain-teaser-image.avif" /></a>
        <div class="card-content">
          <h3>Brain Teasers</h3>
          <p>Puzzle and quiz challenges</p>
        </div>
      </div>
      <div class="card">
        <a href="/quotes"><img src="images/quotes-and-inspiration-image.avif" /></a>
        <div class="card-content">
          <h3>Inspirational Posters</h3>
          <p>Inspiring thoughts and images</p>
        </div>
      </div>

      <div class="card">
        <a href="/forms"><img src="images/form-fun-image.avif" /></a>
        <div class="card-content">
          <h3>Form Fun</h3>
          <p>Login Email Register and Join us</p>
        </div>
      </div>
    </div>
  </div>
</BaseLayout>

<style>
  .main-container {
    width: 100%;
    height: 100vh;
    padding: 40px;
  }

  .card-container {
    display: flex;
    gap: 40px;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;
    margin-bottom: 60px;
  }

  .card {
    position: relative;
    width: 300px;
    height: 400px;
    border: 2px solid var(--text);
    border-radius: 20px;
    overflow: hidden;
  }

  .card img {
    cursor: pointer;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .card-content {
    bottom: 0;
    left: 0;
    width: 100%;
    position: absolute;
    color: var(--text);
    line-height: 1.5rem;
    padding: 10px;
    background: rgba(0, 0, 0, 0.7);
  }

  .card-content h3 {
    font-size: 1.25rem;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 8px;
  }

  .card-content p {
    color: var(--text);
    font-size: 1rem;
    text-align: center;
  }
</style>
