---
import BaseLayout from "../layouts/BaseLayout.astro";
import App from "../todo-app/App.jsx";
const pageTitle = "GOAL SETTING";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="overlay">
    <App client:only="react" />
  </div>
</BaseLayout>

<style>
  .overlay {
    background-color: rgba(0, 0, 0, 0.2);
  }
</style>

<style is:global>
  .base-container {
    background-image: url(/images/goal-setting-image.avif);
    background-position: center;
    background-size: cover;
  }
</style>
