---
import BaseLayout from '../layouts/BaseLayout.astro';
import WingTitle from '../components/WingTitle.astro';
const pageTitle = 'SIGNAL FOCUSED | WEATHER APP';
---

<BaseLayout pageTitle={pageTitle}>
  <div class="container">
    <WingTitle>WEATHER</WingTitle>
  </div>

  <style>
    .container {
      display: grid;
      width: 100%;
      min-height: 100vh;
      padding: 40px;
    }
  </style>
</BaseLayout>
