---
// Below is a simple example of cache
// const multiplyResultCache = {
//   [2]: 4,
//   [3]: 6,
//   [4]: 8,
// };

// function multiplyBy2(myNumber) {
//   if (myNumber in multiplyResultCache) {
//     return multiplyResultCache[myNumber];
//   }

//   const result = myNumber * 2;
//   multiplyResultCache[myNumber] = result;
//   return result;
// }
---

<div class="hamburger">
  <span class="line"></span>
  <span class="line"></span>
  <span class="line"></span>
</div>
