---
import "../styles/global.css";
---

<header>
  <div class="logo-container">
    <a href="/" class="logo">LOGO</a>
  </div>
  <nav>
    <ul>
      <li class="header-icons">
        <a href="/">
          <svg
            class="home-icon"
            xmlns="http://www.w3.org/2000/svg"
            width="24px"
            height="24px"
            viewBox="0 0 16 16">
            <path
              fill="white"
              d="M16 6.6L8 1.4L6 2.7V1H4v3L0 6.6l1.9 2.7l.1-.1V15h5v-4h2v4h5V9.2l.1.1zm-14.6.3L8 2.6l6.6 4.3l-.7 1L8 4L2.1 7.9zM13 14h-3v-4H6v4H3V8.6l5-3.3l5 3.3z">
            </path>
          </svg>
        </a>
        <p class="mini-titles">HOME</p>
      </li>
      <li class="header-icons">
        <a href="/apps">
          <svg
            class="apps-icon"
            xmlns="http://www.w3.org/2000/svg"
            width="24px"
            height="24px"
            viewBox="0 0 64 64">
            <path
              fill="white"
              d="M44.97 2H19.03C17.015 2 15 3.936 15.001 5.871L15 58.129C15 60.064 17.015 62 19.03 62h25.94c2.016 0 4.03-1.936 4.03-3.871V5.871C49 3.936 46.985 2 44.97 2m-2.11 3.281c.521 0 .945.419.945.938c0 .517-.424.938-.945.938s-.943-.421-.943-.938a.94.94 0 0 1 .943-.938m-13.411.502h5.102c.157 0 .282.208.282.467c0 .26-.125.471-.282.471h-5.102c-.155 0-.282-.211-.282-.471c0-.258.127-.467.282-.467m6.093 52.701a.705.705 0 0 1-.709.703h-5.666a.705.705 0 0 1-.709-.703v-1.406c0-.389.317-.703.709-.703h5.666c.392 0 .709.314.709.703zM46.167 54.5H17.833v-45h28.333v45z">
            </path>
            <path
              fill="white"
              d="M20.593 16.531h3.125a.78.78 0 0 0 .782-.78v-3.125a.782.782 0 0 0-.782-.782h-3.125a.78.78 0 0 0-.78.782v3.125c0 .431.349.78.78.78m6.562 0h3.125a.78.78 0 0 0 .782-.78v-3.125a.782.782 0 0 0-.782-.782h-3.125a.78.78 0 0 0-.78.782v3.125c0 .431.35.78.78.78m6.563 0h3.125a.78.78 0 0 0 .782-.78v-3.125a.782.782 0 0 0-.782-.782h-3.125a.78.78 0 0 0-.78.782v3.125c0 .431.349.78.78.78m6.562 0h3.125a.78.78 0 0 0 .782-.78v-3.125a.782.782 0 0 0-.782-.782H40.28a.78.78 0 0 0-.78.782v3.125c0 .431.35.78.78.78M20.593 52.625h3.125a.78.78 0 0 0 .782-.78v-3.126a.781.781 0 0 0-.782-.781h-3.125a.78.78 0 0 0-.78.781v3.126c0 .43.349.78.78.78m6.562 0h3.125a.78.78 0 0 0 .782-.78v-3.126a.781.781 0 0 0-.782-.781h-3.125a.78.78 0 0 0-.78.781v3.126c0 .43.35.78.78.78m6.563 0h3.125a.78.78 0 0 0 .782-.78v-3.126a.781.781 0 0 0-.782-.781h-3.125a.78.78 0 0 0-.78.781v3.126c0 .43.349.78.78.78m6.562 0h3.125a.78.78 0 0 0 .782-.78v-3.126a.781.781 0 0 0-.782-.781H40.28a.78.78 0 0 0-.78.781v3.126c0 .43.35.78.78.78M20.593 34.578h3.125a.78.78 0 0 0 .782-.78v-3.126a.781.781 0 0 0-.782-.781h-3.125a.78.78 0 0 0-.78.781v3.126c0 .431.349.78.78.78m6.562 0h3.125a.78.78 0 0 0 .782-.78v-3.126a.781.781 0 0 0-.782-.781h-3.125a.78.78 0 0 0-.78.781v3.126c0 .431.35.78.78.78m6.563 0h3.125a.78.78 0 0 0 .782-.78v-3.126a.781.781 0 0 0-.782-.781h-3.125a.78.78 0 0 0-.78.781v3.126c0 .431.349.78.78.78m-13.125-6.015h3.125c.433 0 .782-.35.782-.781v-3.124a.782.782 0 0 0-.782-.782h-3.125a.78.78 0 0 0-.78.782v3.124a.78.78 0 0 0 .78.781m6.562 0h3.125c.433 0 .782-.35.782-.781v-3.124a.782.782 0 0 0-.782-.782h-3.125a.78.78 0 0 0-.78.782v3.124c0 .431.35.781.78.781m6.563 0h3.125c.433 0 .782-.35.782-.781v-3.124a.782.782 0 0 0-.782-.782h-3.125a.78.78 0 0 0-.78.782v3.124a.78.78 0 0 0 .78.781m6.562 0h3.125c.433 0 .782-.35.782-.781v-3.124a.782.782 0 0 0-.782-.782H40.28a.78.78 0 0 0-.78.782v3.124c0 .431.35.781.78.781m-19.687-6.015h3.125c.433 0 .782-.35.782-.782v-3.125c0-.43-.35-.78-.782-.78h-3.125a.78.78 0 0 0-.78.78v3.125a.78.78 0 0 0 .78.782m6.562 0h3.125c.433 0 .782-.35.782-.782v-3.125c0-.43-.35-.78-.782-.78h-3.125a.78.78 0 0 0-.78.78v3.125c0 .432.35.782.78.782m6.563 0h3.125c.433 0 .782-.35.782-.782v-3.125c0-.43-.35-.78-.782-.78h-3.125a.78.78 0 0 0-.78.78v3.125a.78.78 0 0 0 .78.782m6.562 0h3.125c.433 0 .782-.35.782-.782v-3.125c0-.43-.35-.78-.782-.78H40.28a.78.78 0 0 0-.78.78v3.125c0 .432.35.782.78.782">
            </path>
          </svg>
        </a>
        <p class="mini-titles">APPS</p>
      </li>
      <li class="header-icons">
        <a href="/blog">
          <svg
            class="blog-icon"
            xmlns="http://www.w3.org/2000/svg"
            width="1em"
            height="1em"
            viewBox="0 0 64 64">
            <path
              fill="white"
              d="m57.063 20.218l1.029-1.698s.906-1.502.906-3.519c0-4.886-4.662-4.757-4.662-4.757L44.179 7.479L38.638 2l-7.291 1.985l-2.391-.651l-1.817 1.797l-10.497 2.858s-4.04-.111-4.04 4.123c0 1.748.786 3.05.786 3.05l1.351 2.23l-1.187 1.172l-5.86 1.596s-4.662-.129-4.662 4.757a7.56 7.56 0 0 0 .779 3.281L2 29.987l.949.376c.021.051.029.108.07.149c1.835 1.839 1.684 4.309 1.422 5.643l-1.109 1.111l8.401 4.039L23.271 60.35c1.849 2.906 5.774 1.088 5.774 1.088l29.649-14.256l-1.109-1.111c-.262-1.334-.413-3.804 1.422-5.644c.041-.041.049-.098.07-.148l.949-.377l-5.513-5.45l6.33-3.043l-.961-.963c-.227-1.156-.358-3.297 1.233-4.891c.035-.036.041-.084.06-.129l.825-.327zm-5.685-8.835l-1.25 1.978l-3.234-3.198zM39.176 7.144l4.643 4.963l-16.789 6.067l-3.965-6.156zM15.744 19.052l11.457 18.911l-21.827-8.658zm-4.775 2.067l-1.345 1.33l-.538-.825zm-4.247 1.034l1.252 1.927l-2.713 2.682a5.586 5.586 0 0 1-.331-1.845c0-1.826.906-2.521 1.792-2.764M5.154 37.026l.015-.058l25.147 11.007l-24.95-11.894c.023-.135.041-.284.06-.434l19.533 8.18l-19.465-9.116a7.723 7.723 0 0 0-.086-1.245l18.079 7.445L5.165 32.4a6.048 6.048 0 0 0-.47-1.137l24.883 10.625l.566.934c1.167 1.834 3.284 1.495 4.351 1.177c1.475.728 4.119 2.412 3.442 4.893c-.357 1.312-1.142 1.948-2.399 1.948c-1.273 0-2.544-.666-2.557-.675zM30.2 50.185l-1.966.814l-1.67-2.563zm-7.614 5.381l-7.729-12.759l7.682 3.693l3.633 5.592c-1.465.626-3.102 2.055-3.586 3.474m34.033-12.184a7.731 7.731 0 0 0-.086 1.245l-19.465 9.116l19.533-8.18c.019.149.036.299.06.434l-24.95 11.895l25.147-11.007a.982.982 0 0 1 .015.058L29.046 60.08c-.013.009-1.282.675-2.557.675c-1.258 0-2.042-.637-2.399-1.948c-.918-3.367 4.302-5.276 4.38-5.305l4.575-1.952c.491.209 3.994 1.584 5.711-1.115l1.083-1.786l17.494-7.47a6.12 6.12 0 0 0-.471 1.137L38.54 50.827zm.034-4.161l-14.825 6.144l4.114-6.791l6.767-3.253zm2.393-11.107a6.9 6.9 0 0 0-.075 1.079l-16.868 7.9l16.928-7.089c.017.129.031.26.052.376L37.459 40.688l21.794-9.539a.46.46 0 0 1 .013.05L35.149 42.586c-.011.007-1.112.585-2.216.585c-1.091 0-1.77-.553-2.079-1.689c-.796-2.918 3.728-4.572 3.796-4.597l25.014-10.68a5.268 5.268 0 0 0-.407.986l-15.88 7.376z">
            </path>
          </svg>
        </a>
        <p class="mini-titles">BLOG</p>
      </li>
    </ul>
  </nav>
  <div class="header-right-container">
    <button
      id="themeToggle"
      class="dark-mode-toggle"
      aria-label="toggle dark mode">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24px"
        height="24px"
        viewBox="0 0 24 24">
        <g fill="none">
          <circle cx="12" cy="12" r="8.5" stroke="var(--text)"> </circle>
          <path
            fill="var(--text)"
            d="M16.243 7.757a6 6 0 1 0-8.486 8.486L12 12z">
          </path>
        </g>
      </svg>
    </button>
    <button class="login"><a href="#">LOGIN</a></button>
  </div>
</header>

<style>
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    font-size: 1.25rem;
    padding-left: 8px;
    padding-right: 8px;
    top: 0;
    position: sticky;
    background: var(--header);
    z-index: 1;
  }

  .logo-container {
    width: 200px;
  }

  .logo {
    color: var(--text);
  }

  ul {
    display: flex;
    align-items: center;
    gap: 14px;
    cursor: pointer;
    justify-content: center;
  }

  ul a {
    color: var(--text);
  }

  .header-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .apps-icon,
  .blog-icon,
  .home-icon {
    height: 32px;
    width: 32px;
  }

  .mini-titles {
    font-size: 0.75rem;
  }

  .header-right-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 200px;
    gap: 8px;
  }

  .dark-mode-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0px 0px 1px 1px var(--halo-glow);
    animation: glow 6s linear infinite alternate;
  }

  .login {
    color: var(--text);
    background: transparent;
    border: none;
    cursor: pointer;
  }

  .login a {
    color: var(--text);
  }

  @keyframes glow {
    to {
      box-shadow: 0px 0px 2px 2px var(--halo-glow);
    }
  }
</style>

<script is:inline>
  document.addEventListener("astro:page-load", () => {
    const theme = (() => {
      if (
        typeof localStorage !== "undefined" &&
        localStorage.getItem("theme")
      ) {
        return localStorage.getItem("theme");
      }
      if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
        return "dark";
      }
      return "light";
    })();

    if (theme === "light") {
      document.documentElement.classList.remove("dark");
    } else {
      document.documentElement.classList.add("dark");
    }

    window.localStorage.setItem("theme", theme);

    const handleToggleClick = () => {
      const element = document.documentElement;
      element.classList.toggle("dark");

      const isDark = element.classList.contains("dark");
      localStorage.setItem("theme", isDark ? "dark" : "light");
    };

    document
      .getElementById("themeToggle")
      .addEventListener("click", handleToggleClick);
  });
</script>
